$base-color: #3b4252;
$icon-color: #eceff4;
$body-background: #eceff4;
$highlight-color: #5e81ac;
$notification-color: #81a1c1;
$menu-submenu-focus-text: #88c0d0;
$low-contrast-theme: "true";

@import "../scss/_admin.scss";
